<div class="col-md-4 col-lg-2 movie-element">
	<a href="#/id/{{imdbID}}">
		<img src="{{Poster}}" alt="{{Title}}">
		<div class="movie-info">
			<h2>{{Title}}</h2>
			<div>
				<span>{{Type}} - {{Year}}</span>
			</div>
		</div>
	</a>
</div>